.App {
  text-align: center;
}

.createAccountForm,
.createCustomerForm,
.deleteAccountForm {
  display: flex;
  width: 500px;
  margin: 20px auto;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.formInput,
.currencyInput {
  box-sizing: border-box;
  width: 300px;
  padding: 15px 10px 15px 15px;
}

.informationText {
  font-size: 20px;
  color: green;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.error {
  color: red;
}
