.createCustomerButton {
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    background: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.createCustomerButton:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

.submitButton {
    cursor: pointer;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
}

.submitButton:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

.homeButton {
    cursor: pointer;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 20px 30px;
    margin: 0;
    color: white;
    border: none;
    background-color: #149356;
    position: relative;
}

.homeButton:before, .homeButton:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}

.homeButton:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid blue;
    border-top: 1px solid blue;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.homeButton:after {
    top: 0;
    right: 0;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.homeButton:hover:before, 
.homeButton:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.homeButton:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.homeButton:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.homeButton:hover {
    background: #02713c;
}